altair
annotated-types
anyio
attrs==23.2.0
blinker
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
fastapi
gitdb==4.0.11
GitPython==3.1.42
h11==0.14.0
h2o==3.46.0.1
idna==3.6
Jinja2==3.1.3
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe==2.1.5
maturin
mdurl==0.1.2
numpy
packaging==23.2
pandas
pillow
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
python-dateutil
pytz
referencing
requests
rich
rpds-py
setuptools
six
smmap
sniffio
starlette
streamlit
tabulate
tenacity
toml
toolz
tornado
typing_extensions
tzdata
urllib3
uvicorn
watchdog
